@model IEnumerable<CompetitionApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Користувачі</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
            </td>
        </tr>
}
    </tbody>
</table>
