@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompetitionApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a asp-controller="Home" asp-action="Index" class="header__logo">LNU Competition</a>
                
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <nav class="nav">
                    <a asp-controller="Home" asp-action="Index" class="nav__link">Головна</a>
                    <a asp-controller="Events" asp-action="Show" class="nav__link">Змагання</a>
                    <a asp-controller="Contacts" asp-action="Index" class="nav__link">Контакти</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (UserManager.Users.First(u => u.Id == UserManager.GetUserId(User)).IsAdmin)
                        {
                            <a class="nav__link" asp-controller="Admin" asp-action="Index">Адміністрування</a>
                        }
                        else
                        {
                            <a asp-controller="UserProfile" asp-route-id="@UserManager.GetUserId(User)" asp-action="Index" class="nav__link">Кабінет</a>
                        }

                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Вихід" />
                        </form>
                    }
                    else
                    {
                        <a class="nav__link" asp-controller="Account" asp-action="Login">Вхід</a>
                        <a class="nav__link" asp-controller="Account" asp-action="Register">Реєстрація</a>
                    }
                </nav>
            </div>
        </div>
    </header>

    <nav class="nav-mobile">
        <a asp-controller="Home" asp-action="Index" class="nav__link-mobile">Головна</a>
        <a asp-controller="Events" asp-action="Show" class="nav__link-mobile">Змагання</a>
        <a asp-controller="Home" asp-action="Index" class="nav__link-mobile">Відео</a>
        <a asp-controller="Contacts" asp-action="Index" class="nav__link-mobile">Контакти</a>

        @if (User.Identity.IsAuthenticated)
        {
            @if (UserManager.Users.First(u => u.Id == UserManager.GetUserId(User)).IsAdmin)
            {
                <a class="nav__link-mobile" asp-controller="Admin" asp-action="Index">Адміністрування</a>
            }
            else
            {
                <a class="nav__link-mobile" asp-controller="UserProfile" asp-route-id="@UserManager.GetUserId(User)" asp-action="Index" class="nav__link">Кабінет</a>
            }

            <form class="nav__link-mobile" method="post" asp-controller="Account" asp-action="Logout">
                <input class="nav__link-mobile" type="submit" value="Вихід" />
            </form>
        }
        else
        {
            <a class="nav__link-mobile" asp-controller="Account" asp-action="Login">Вхід</a>
            <a class="nav__link-mobile" asp-controller="Account" asp-action="Register">Реєстрація</a>
        }
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">

            <div class="footer-upper">
                <p class="footer-upper__text">Слідкуйте за нами у соціальних мережах!</p>

                <ul class="footer-upper__socials social-network social-circle">
                    <li><a href="https://www.instagram.com" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.google.com" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="footer-main">
                <div class="footer-first-column">
                    <h4 class="footer-column-header">Про нас</h4>
                    <div class="footer-column-content">
                        <p>
                            Ми хочемо надати студентам та викладачам різних ВУЗів України можливість змагатися в різноманітних дисциплінах,
                            щоб дізнатися, хто з них найращий. Тож не гайте часу і приєднуйтеся!
                        </p>
                    </div>
                </div>
                <div class="footer-second-column">
                    <h4 class="footer-column-header">Посилання</h4>
                    <div class="footer-column-content">
                        <a href="#">Головна</a>
                        <a asp-controller="Events" asp-action="Show">Змагання</a>
                        <a href="#">Відео</a>
                        <a asp-controller="Contacts" asp-action="Index">Контакти</a>
                    </div>
                </div>
                <div class="footer-third-column">
                    <h4 class="footer-column-header">Контакти</h4>
                    <div class="footer-column-content">
                        <p><i class="fa fa-home"></i> Львів, вул. Університетська 1</p>
                        <p><i class="fa fa-envelope"></i> info@example.com</p>
                        <p><i class="fa fa-phone"></i> + 01 234 567 88</p>
                        <p><i class="fa fa-print"></i> + 01 234 567 89</p>
                    </div>
                </div>
            </div>

            <div class="footer-lower text-center">
                &copy; 2020 <a asp-area="" asp-controller="Home" asp-action="Index">LNUCometition.com</a>
            </div>


        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $('.menu__btn').click(function () {

            if ( $('.nav-mobile').css('display') == 'none' )
                $('.nav-mobile').css('display','flex');
            else
                $('.nav-mobile').css('display', 'none');

            $('.menu__btn').toggleClass('active');
        });
    </script>
</body>
</html>
