@using CompetitionApp.ViewModels
@model UserProfileViewModel
@addTagHelper *, CompetitionApp
@{
    ViewData["Title"] = "UserProfile";
}


<div class="profile">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            @*<style>
                .card {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    position: absolute;
                    left: 10px;
                    max-width: 300px;
                    height: 60%;
                    margin: auto;
                    text-align: center;
                    font-family: arial;
                }

                .title {
                    color: grey;
                    font-size: 18px;
                }
            </style>*@

            <h2 style="text-align:center">Профіль користувача</h2>

            <div class="card">

                <h1>@Model.userProfile.Surname</h1>
                <h1>@Model.userProfile.Name</h1>
                <p class="title">Дата народження: @Model.userProfile.BirthDate</p>
                <p>@Model.userProfile.University</p>
                <p>Факультет: @Model.userProfile.Faculty</p>
                @foreach (Event item in Model.userEvents)
                {
                    <p>Категорія: @item.Category</p>
                    <p>Категорія: @item.DateTime</p>
                    <p>Категорія: @item.IsFinished</p>
                    <p>Категорія: @item.Title</p>
                    <p>Категорія: @item.Place</p>
                }
            </div>
</div>
