@using CompetitionApp.Models
@model EventView
@addTagHelper *, CompetitionApp
@{
    ViewData["Title"] = "Show";
}

    <div class="event-content">
        <h1 class="events-title">Змагання</h1>
        <form method="get">
            <div class="event-form">
                <label class="event-label">Назва: </label>
                <input name="title" value="@Model.EventFilterViewModel.SelectedTitle" class="event-control " />

                <label class="event-label">Категорія: </label>
                <select name="parentCategory" asp-items="Model.EventFilterViewModel.ParentCategories" class="event-control "></select>

                <label class="event-label">Підкатегорія: </label>
                <select name="category" asp-items="Model.EventFilterViewModel.Categories" class="event-control"></select>

                <input type="submit" value="Фільтр" class="btn btn-dark" />
            </div>
        </form>

        <li class="event">
            @foreach (Event item in Model.Events)
            {
                <ul class="event-item">
                    <div class="event-content">
                        <p class="event-title">
                            @item.Title
                        </p>
                        <div class="event-about">
                            <p>Категорія: @item.Category.Name</p>
                            <p>Місце проведення: @item.Place</p>
                            <p>Дата проведення: @item.DateTime</p>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (!(ViewBag.Id.Contains(item.Id)))
                            {
                                <a asp-controller="Events" asp-action="UserRegistrationOnEvent" asp-route-eventId="@item.Id" class="btn btn-dark event-btn text-white">Взяти участь</a>
                            }
                            else
                            {
                                <a asp-controller="Events" asp-action="CanselUserRegistrationOnEvent" asp-route-eventId="@item.Id" class="btn btn-dark event-btn text-white">Скасувати участь</a>
                            }
                        }
                    </div>
                </ul>
            }
        </li>
        <page-link page-model="Model.PageView" page-action="Show"
                   page-url-title="@(Model.EventFilterViewModel.SelectedTitle)"
                    page-url-category="@(Model.EventFilterViewModel.SelectedCategory)"></page-link>
    </div>

